/* Home component styling */

.div-home{  
    width:100%;
    overflow-y: auto;
    min-height: 700px;
    height: auto;
}


.div-grid{
    display: grid;
    margin-top: 25px;
}


#div1{
    width:  100%;
    height: 100px;
}

#div2{
    width:  100%;
    height: 100px;
}

#div3{
    width: 100%;
    height: max-content;
    margin-bottom: 25px;
}

a:hover,a:visited,a:link,a:active{
    text-decoration: none;
}

.add-update{
    display: flex;
    width: 100%;
    text-align: center;
    /* justify-content: center; */
    padding-left: 36%;
}

.based-on{
    display: flex   ;
    width: 100%;
    margin-top: 25px;
}

/* Menu Component Styling */

.nav-links{
    margin-right: 100px;
    color: white;
}

.nav-div{
    margin-left:80%;
}

.navbar{
    width: 100%;
}
/* Based on buttons styling */


.based-on-buttons,.add-update-btn{
    background-color: yellow;
    width: 250px;
    height: 30px;
    border-radius: 10px;
    margin-left: 5%;
    border-collapse: collapse;
    border: none;
    position: relative;
}

.based-on-buttons:focus{
    background-color: rgb(114, 114, 211);
}

.alert{
    width: auto;
    height: 50px;
    margin-top: 10px;
}

section{
    border: 3px #f8d7da solid;
    width:60%;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 10px;
}


/*place page styling*/

.place-div{
    display: flex;
    height: 500px;
    margin-top: 20px;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    width: auto;
    overflow-x: auto;
}

.place-div-flex{
    width:50%;
    margin-left: 20px;
}

.areas-div{
    width: 100px;
    height: 100%;
    overflow-x: auto;
}

.area-div{
    width: 100px;
    max-height:70%;
    margin-left: 30px;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: blue;
}

.areas{
    height:95%;
    margin-left: 12%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 12%;
    width: 60%;
    background-color: yellowgreen;
}



.slide-btn{
    height: 100%;
    width: 50px;
    background-color: transparent;
    font-size: 40px;
    font-weight: 500;
    margin-left: 20px;
    border: none;
}

.slide-btn left{
    float: left;
}

.slide-btn right{
    float: right;
}

.div-no-scroll{
    overflow-y:hidden
}

.place-details{
    margin-left: 50px;
    margin-top: 30%;
    margin-right: 20px;
}

.place-label-keys{
    width:300px;
    font-size: larger;
    font-weight: 500;
    text-align: right;
}

.place-label-values{
    width:auto;
    font-size: medium;
    text-align: left;
    margin-left: 20px;
}

.place-img{
    height: 100%;
    width: 100%;
}

/* admin page styling*/

.admin-div{
    display:grid;
    margin-top: 25px;
    height: auto;
    width: 99%;
    margin:10px 10px;
}

.admin-div{
    margin-left: 10px;
    margin-right: 10px;
    height: max-content;
}

.admin-div-dropdown{
    width:100%;
    box-shadow: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border-collapse: collapse;
    border: none;
}

.admin-dropdown{
    text-align: right;
    margin-left: 10px;
    border-radius: 5px;
    width:60%;
}

.places-areas-dropdown{
    float: right;
    width: 30%;
    border-radius: 5px;
    margin-right: 15px;
}

.admin-div-image-show{
    width:99%;
    display:block;
    border-radius: 5px;
    border-collapse: collapse;
    margin-left: 10px;
    border: none;
}

.admin-div-details-show{
    width:99%;
    display:block;
    border-radius: 5px;
    border-collapse: collapse;
    border: none;
    margin-top: 20px;
}


.admin-div-image-hide{
    display:none
}

.admin-div-details-hide{
    display: none;
}

.new-place-hide{
    display: none;
}

.new-place-show{
    display: block;
}

.existing-place-hide{
    display: none;
}

.existing-place-show{
    display: block;
}

.new-existing-radio{
    margin-left: 25px;
}

.place-attributes{
    color:rgb(53, 51, 29);
    margin-left: 10px;
    display: inline-block;
    width:150px;
    margin-top: 10px;
    text-align: right;
}

.place-value-text{
    width: 60%;
    border: solid 2px gray;
    border-radius: 5px;
    margin-top: 10px;   
    margin-left: 8px;
    text-align: right;
}

.place-wrng-msg{
    color: red;
    margin-left: 10px;
}

.admin-div-new-place-image{
    margin-left: 15px;
    width: 50%;
}

.admin-div-new-place-details{
    margin-left: 15px;
    width: 98%;
}

#save-btn{
    margin-top: 50px;
    margin-left: 30%;
}

input[type="file"]::-webkit-file-upload-button{
    visibility: hidden;
}

input[type="file"]{
    margin-left: 10px;
}

.err-msg-hide{
    display: none;
}

.err-msg-show{
    color: red;
    margin-left: 10px;
    margin-top: 10px;
    display: block;
}

.select-options{
    background-color: darksalmon;
}

.admin-save-delete-btn{
    text-align: right;
}

.no-data-div{
    padding-top: 5%;
    width: 100%;
    text-align: center;
    align-items: center;
}

.sign-btn{
    background-color:rgb(63, 163, 163);
    border-collapse: collapse;
    border: none;
    border-radius: 5px;
    width: auto;
    height: max-content;
    font-size:larger;
    font-weight: 450;
    margin-right: 30px;
}

.new-place-save-btn{
    width: 100%;
    height:200px;
    text-align: right;
}

.about-div{
    align-items: center;
    text-align: center;
    width: 100%;
    font-size: larger;
    font-weight: 400;
    color: white;
    margin-top: 10%;

}

.place-img{
    width: 100%;
    height: 250px;
}

.home-place-div{
    margin-top: 30px;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    font-style:normal;
    font-weight: 500;
}

.based-on-divs{
    width: 250px;
    height: 100px;
    border-radius: 10px;
    margin-left: 5%;
    margin-top: 20px;
    position: absolue;
    background-color: aqua;
    text-align: center;
}

.based-labels{
    margin-left: 5%;
    color:rgb(34, 6, 11);
    font-size: large;
    font-weight: 400;
    margin-top: 10px;
}

.div-places{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.based-labels-no-data{
    margin-left: 45%;
    font-size: large;
}

.image-styles{
    width: 100%;
    height: 500px;
    border-collapse: collapse;
    border: none;
    border-radius: 25px;
}
