/* Home component styling */


.div-home{
    width:100%;
    background-color:darkcyan;
}

#root{
    width: 100%;
    height:650px;
    background-color: darkcyan;
}

.div-flex{
    display: grid;
    margin-top: 20px;
}


#div1{
    width:  100%;
    height: 100px;
}

#div2{
    width:  100%;
    height: 100px;
}

#div3{
    width: 100%;
    height: max-content;
}

a:hover,a:visited,a:link,a:active{
    text-decoration: none;
}

.based-on{
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 25px;
}

/* Menu Component Styling */

.nav-links{
    margin-right: 100px;
    color: white;
}

.nav-div{
    margin-left: 70%;
}

.navbar{
    width: 100%;
}
/* Based on buttons styling */

.based-on-buttons{
    background-color: yellow;
    width: 220px;
    height: 30px;
    border-radius: 10px;
    left: 40px;
    margin-right: 100px;
    border-collapse: collapse;
    border: none;
    position: relative;
}


.place{
    width: 95%;
    height: 100px;
    background-color: rgb(67, 67, 75);
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

/* Login screen styling */

.login-container-show{
    margin-top: 150px;
    margin-left: 25%;
    display: block;
}

.login-container-hide{
    display: none;
}

.signup-container-show{
    margin-top: 120px;
    margin-left: 25%;
    display: block;
}

.signup-container-hide{
    display: none;
}

input[type="text"],[type="password"]{
    width: 300px;
    height: 50px;
    margin-top: 20px;
    border:3px solid gray;
    border-radius: 10px;
    margin-left: 30px;
}

.sign-btn{
    background-color: transparent;
    margin-left: 30px;
    width:auto;
    height: 30px;
    background-color: rgb(93, 93, 206);
    border-radius: 5px;
    margin-left: 30px;
}

.alert{
    width: auto;
    margin-top: 50px;
}

section{
    border: 3px #f8d7da solid;
    width:60%;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 10px;
}




